<!DOCTYPE html>
<html lang="en" class="mdl-js">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="assets/favicon.ico" rel="icon">
<link href="assets/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/css/styles.css" rel="stylesheet">
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<title><%= Codebreaker::Game.message(:codebreak) %></title>

<body>
  <section id="introduction">
    <div class="container">
      <div class="row fill-viewport align-items-center justify-content-center">
        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-md-auto">
              <h1 class="text-white title inline-block"><%= Codebreaker::Game.message(:codebreak_year) %></h1>
            </div>
          </div>
          <div class="row">
            <div class="col button">
              <button type="button" class="btn btn-primary" disabled>
                <%= Codebreaker::Game.message(:level) %>
                <span class="badge badge-light">
                <%= @request.session[:game].level %>
                </span>
              </button>
              <button type="button" class="btn btn-primary" disabled>
                <%= Codebreaker::Game.message(:attempt_stat) %>
                <span class="badge badge-light">
                <%= @request.session[:game].attempts %>
                </span>
              </button>
              <button type="button" class="btn btn-primary" disabled>
                <%= Codebreaker::Game.message(:hints_stat) %>
                <span class="badge badge-light">
                <%= @request.session[:game].hints %>
                </span>
              </button>
            </div>
          </div>
          <hr class="mb-4">
          <div class="row">
            <div class="text-center">
              <div class="text-center">
                <h3 class="text-white">
                  <%= Codebreaker::Game.message(:name_lose, name: @request.session[:game].name) %>
                </h3>
                <h4 class="text-white">
                  <%= Codebreaker::Game.message(:code_was) %>
                  <strong><%= @request.session[:game].secret_code.join %></strong>
                </h4>
              </div>
              <img src="assets/images/lost.gif" class="img-fluid" alt="You lose the game!">
            </div>
          </div>
          <hr class="mb-4">
          <a class="btn btn-primary btn-lg" href="/" role="button">
              <%= Codebreaker::Game.message(:play_again) %>
          </a>
          <a class="btn btn-success btn-lg float-right" href="/stat" role="button">
              <%= Codebreaker::Game.message(:stat) %>
          </a>
        </div>
       </div>
    </section>
  </body>
</html>