<!DOCTYPE html>
<html lang="en" class="mdl-js">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="assets/favicon.ico" rel="icon">
  <link href="assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/css/styles.css" rel="stylesheet">
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <title><%= I18n.t(:codebreak) %></title>
</head>

<body>
  <section id="introduction">
    <div class="container">
      <div class="row fill-viewport align-items-center justify-content-center">
        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-md-auto">
              <h1 class="text-white title"><%= I18n.t(:codebreak_year) %></h1>
            </div>
          </div>
          <p class="lead text-white-70"><%= I18n.t(:top_of_player) %></p>
          <hr class="mb-4">
          <div class="table-responsive-md scores">
            <table class="table table-striped table table-sm">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col"><%= I18n.t(:name_stat) %></th>
                  <th scope="col"><%= I18n.t(:level_stat) %></th>
                  <th scope="col"><%= I18n.t(:attempt_stat) %></th>
                  <th scope="col"><%= I18n.t(:hints_stat) %></th>
                  <th scope="col"><%= I18n.t(:date_stat) %></th>
                </tr>
              </thead>
              <tbody>
                <% @data_stat.each_with_index do |status, index| %>
                <tr>
                    <th scope="row"><%= index + 1 %></th>
                    <td><%= status[:name] %></td>
                    <td><%= status[:level] %></td>
                    <td><%= status[:attempts_used] %>/<%= status[:attempts] %></td>
                    <td><%= status[:hints_used] %>/<%= status[:hints] %></td>
                    <td><%= status[:game_date] %></td>
                 </tr>                 
                <% end %>
              </tbody>
            </table>
          </div>
          <hr class="mb-4">
          <a class="btn btn-primary btn-lg" href="/" role="button">
            <%= I18n.t(:home_stat) %>
          </a>
        </div>
       </div>
    </section>
  </body>
</html>